body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.inputStyle {
  border: 1px solid #fafaff;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.inputStyle ul > li.hover {
  background-color: white;
  font-weight: bold;
}

ul > li {
  list-style: none;
}

ul > li.hover {
  background-color: #f3f3fa;
  font-weight: bold;
}

.customToken {
  background-color: brown;
  color: white;
  width: 100px;
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
}
